body {
    background: rgb(84,69,62);
}
h1 {
    text-align: center;
    color: white;
}
.chapter {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-align: justify;
    justify-self: center;
    padding: 0px 40px;
    width: 90%;
    line-height: 1.7;
    margin-top: 70px;
    user-select: none;   
    text-indent: each-line 35px;  
    font-family: 'Times New Roman', Times, serif;

}
.character-tag {
    text-align: center;
}
a:link {
    color: bisque;
}
a:visited {
    color:rgb(216, 204, 204);
}
a:hover {
    color:rgba(133, 131, 131, 0.856);
}